*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(141.55deg, rgba(240, 244, 243, 0) 3.46%, #f0f4f3 99.86%);

  font-family: 'Open Sans', sans-serif;
}
.link{
  text-decoration: none;
  color: inherit;
}